<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>User update</title>
</head>
<body>
<h1>Редактирование пользователя админом</h1>
<!--
<form action="#" th:action="@{/admin/updateUser}" th:object="${user}" method="post">
-->

<form action="#" th:action="@{/admin/updateUser/{id}(id=${user.getId()})}" th:object="${user}" method="post">
        <input type="hidden" name="id" th:value="${id}"/>

    <label for="age">Enter age</label>
    <input type="text" th:field="*{age}" id="age"/>
    <br/>
    <label for="firstName">Enter name</label>
    <input type="text" th:field="*{firstName}" id="firstName"/>
    <br/>
    <label for="lastname">Enter lastname</label>
    <input type="text" th:field="*{lastName}" id="lastname"/>
    <br/>
    <label for="mail">Enter mail</label>
    <input type="text" th:field="*{mail}" id="mail"/>

    <br/><label for="password">Password</label>
    <input type="text" th:field="*{password}" id="password"/>
    <br/>

    <li th:each="role : ${roles}">
        <input type="checkbox" name="setRoles" th:value="${role}"th:text="${role}" />
    </li>
         <button type="submit" value="Save">Save</button>
    </form>

<!--
<h1>Редактирование пользователя</h1>
<form action="#" th:action="@{/updateUser}" th:object="${user}" method="post">
&lt;!&ndash;<form th:method="PATCH" th:action="@{/users/{id} (id=${user.getId()})}" th:object="${user}">&ndash;&gt;
    <label for="name"> Enter first name: </label>
    <input type="text" th:field="*{name}" id="name"/>
    <br/>
    <label for="age"> Enter age: </label>
    <input type="text" th:field="*{age}" id="age"/>
    <br/>
<label for="age"> Enter age: </label>
    <input type="text" th:field="*{age}" id="age"/>
    <br/>
<label for="age"> Enter age: </label>
    <input type="text" th:field="*{age}" id="age"/>
    <br/>
<label for="age"> Enter age: </label>
    <input type="text" th:field="*{age}" id="age"/>
    <br/>
    <input type="submit" value="Update!"/>
</form>-->

</form>
</body>
</html>