<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>admin</title>
</head>
<body>
<div th:switch="${users}">
    <div>
        <h2 th:case="null">No users found!</h2>
        <div th:case="*">
            <div>
                <h2>Users</h2>
                <table>
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>First name</th>
                        <th>Last name</th>
                        <th>age</th>
                        <th>Mail</th>
                        <th>Password</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="user : ${users}">
                        <td th:text="${user.getId()}"></td>
                        <td >
                            <a th:text="${user.getFirstName()}" th:href ="@{/{id}(id=${user.id})}"></a>
                        </td>
                        <td th:text="${user.getLastName()}"></td>
                        <td th:text="${user.age}"></td>
                        <td th:text="${user.getMail()}"></td>


                        <td><a th:href="@{updateUser/{id}(id=${user.id})}">Edit</a></td>
                        <td><a th:href="@{delUser/{id}(id=${user.id})}">Delete</a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <p><a href="/newUser">Create user</a></p>
            <a th:href="@{/logout}">Logout</a>

        </div>
</body>
</html>